<footer>
<style>
   #footcenter{
   text-align:center;
   margin-left:auto;
   margin-right:auto;
   display:block;
   }
</style>
  <span id="footcenter" class="copyright">
    All rights reserved &copy; {{date format="YYYY"}} <br> Theme by <a href="https://github.com/Kikobeats/uno-zen" target="_blank">uno-zen</a> Published with <a href="https://github.com/SundayYoung/uno-zen" target="_blank">GitHub
  </span>
</footer>
