<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved.<br> Theme by <a href="https://github.com/Kikobeats/uno-zen" target="_blank">uno-zen</a> Published with <a href="https://github.com/SundayYoung/uno-zen" target="_blank">GitHub
  </span>
</footer>
